<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

		<!-- <div class="col-md-6 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2><i class="fa fa-align-left"></i> Collapsible / Accordion <small>Sessions</small></h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li><a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">

					start accordion
					<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel">
							<a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<h4 class="panel-title">Học kỳ 1</h4>
							</a>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<draggable v-model="hocki1" class="dragArea" :options="{group:'monhoc'}">
										<div v-for="item in hocki1">
											<div class="panel panel-default">
												<div class="panel-heading">
													{{item.ten_mon}}
												</div>
												<div class="panel-body">
													{{item.ma_mon}}
												</div>
											</div>
										</div>
									</draggable>

								</div>
							</div>
						</div>
						<div class="panel">
							<a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<h4 class="panel-title">Học kỳ 2</h4>
							</a>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<draggable v-model="hocki2" class="dragArea" :options="{group:'monhoc'}">
										<div v-for="item in hocki2">
											<div class="panel panel-default">
												<div class="panel-heading">
													{{item.ten_mon}}
												</div>
												<div class="panel-body">
													{{item.ma_mon}}
												</div>
											</div>
										</div>
									</draggable>

								</div>
							</div>
						</div>
						<div class="panel">
							<a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<h4 class="panel-title">Học kỳ 3</h4>
							</a>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<draggable v-model="hocki3" class="dragArea" :options="{group:'monhoc'}">
										<div v-for="item in hocki3">
											<div class="panel panel-default">
												<div class="panel-heading">
													{{item.ten_mon}}
												</div>
												<div class="panel-body">
													{{item.ma_mon}}
												</div>
											</div>
										</div>
									</draggable>
								</div>
							</div>
						</div>
						<div class="panel">
							<a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<h4 class="panel-title">Học kỳ 4</h4>
							</a>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<draggable v-model="hocki4" class="dragArea" :options="{group:'monhoc'}">
										<div v-for="item in hocki4">
											<div class="panel panel-default">
												<div class="panel-heading">
													{{item.ten_mon}}
												</div>
												<div class="panel-body">
													{{item.ma_mon}}
												</div>
											</div>
										</div>
									</draggable>
								</div>
							</div>
						</div>
						<div class="panel">
							<a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<h4 class="panel-title">Học kỳ 5</h4>
							</a>
							<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<draggable v-model="hocki5" class="dragArea" :options="{group:'monhoc'}">
										<div v-for="item in hocki5">
											<div class="panel panel-default">
												<div class="panel-heading">
													{{item.ten_mon}}
												</div>
												<div class="panel-body">
													{{item.ma_mon}}
												</div>
											</div>
										</div>
									</draggable>
								</div>
							</div>
						</div>
					</div>
					end of accordion


				</div>
			</div>
		</div> -->

</body>
</html>
